* {
  margin: 0;
  padding: 0;
}
body{
  background: #d8d8d8;
}


.container{
  width: 80%;
  margin: 30px auto;
}

.container h1 {
  padding: 10px 0 30px 0;
  color: rgb(0, 0, 0);
  font-size: 44px;
  text-align: center;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.col{
  flex-basis: 25%;
  min-width: 50px;
}
.feature-img{
  width: 83%;
  margin: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.play-btn{
  width: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.video-player{
  width: 78%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
video:focus{
  outline: none;
}
.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}